@import "tailwindcss";

@source "../../index.html";
@source "../../assets/**/*.js";

@layer base {
  @font-face {
    font-family: 'Geist Mono';
    src: url('../fonts/GeistMono.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0A0A0A;
    font-family: 'Geist Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    font-weight: 500;
    color: hsl(0 0% 100% / 0.8);
    font-size: 0.8125rem;
  }
}

@theme {
  --breakpoint-sm: 36.75rem;
  --breakpoint-md: 75rem;

  --font-primary: "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.custom-focus:focus-visible {
  outline: 1.5px solid oklch(100% 0 0 / .8);
  outline-offset: 3px;
}
